<div class="container">
    <h2>点击选中方法2(单选)</h2>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>序号</th>
                <th>编号</th>
                <th>姓名</th>
                <th>部门</th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="(item,index) in tableData" v-on:mousedown="select(index)" v-bind:class='{selected:isSelected(index)}'>
                <td>{{index}}</td>
                <td>{{item.no}}</td>
                <td>{{item.name}}</td>
                <td>{{item.info}}</td>
            </tr>
        </tbody>
    </table>
</div>