.phone-list-item {
  &.list-enter-active,
  &.list-leave-active,
  &.list-move {
    overflow: hidden;
    transition: 0.5s linear all;
  }

  &.list-leave-active.list-leave-to {
    height: 0;
    margin-bottom: 0;
    opacity: 0;
    padding-bottom: 0;
    padding-top: 0;
  }

  &.list-leave-active.list-leave-from {
    height: 120px;
    margin-bottom: 20px;
    opacity: 1;
    padding-bottom: 4px;
    padding-top: 15px;
  }
}
